.background{
    background-color:black;
    color:lightgray;


}
#nav-bar{
    position: sticky;
    
}
li{
    font-weight: 600;
   
}
.logo{
    display:block;
    margin-left: auto;
    margin-right:auto;
}
.title{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5cm;
    
}
.caption{
    margin-top: 2cm;
    text-align: center;
    font-size: 0.7cm;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:lightgray;
    
}
tbody{
    border-bottom: white;
    font-size: 0.4cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}
tr:hover{background-color: rgb(49, 48, 48);}



footer{
    margin-top:6cm;
    padding: 3px;
    margin-bottom: 0cm;
}
.copyright{
    text-align: center;
}
.table{ 
text-align: center;

}
